{% extends "base.html" %}

{% block title %}Documentation{% endblock %}

{% block css %}main{% endblock %}

{% block javascript %}
  <style>

  div.help_window {
      font-family: sans-serif;
      background-color:white;
      border: 3px solid #3d86d0;
      top: 10ex;
      bottom:10%;
      left:25%;
      right:15%;
      padding:2ex;
      width:90%;
  }


  table.help_window {
      background-color:white;
      width:95%;
  }

  td.help_window_sub {
      background-color: #f5e0aa;
      width:100%;
      padding:0.5ex;
      font-weight:bold;
  }

  td.help_window_cmd {
      background-color: #f5e0aa;
      width:30%;
      padding:0.5ex;
  }

  td.help_window_how {
      padding:0.5ex;
      width:70%;
  }
  </style>
{% endblock %}

{% block body %}

  {% include "top_bar.html" %}

        <center>
        <br>
        <a class="control" title="FEMhub Official Website" href="http://www.femhub.org/">FEMhub Official Website</a>
        &nbsp;&nbsp;
        <a class="control" title="FEMhub Web Notebook" href="http://www.nb.femhub.org/">FEMhub Web Notebook</a>
        <hr class="usercontrol">
        <br>

        <div class="help_window">
        <h2>How to use the FEMhub Notebook</h2>
        
        <br><br>

        A <i>worksheet</i> is an ordered list of FEMhub calculations with output. <br>
        A <i>session</i> is a worksheet and a set of variables in some state.<br>
        The <i>FEMhub notebook</i> is a collection of worksheets, saved objects, and user information.<br>
        <br><br>
                 
        <table class="help_window">
        
        {% for x, y in notebook_help %}
          <tr><td class="help_window_sub", colspan="2">{{ x }}</td></tr>
        {% for z, w in y %}
          <tr><td class="help_window_cmd">{{ z }}</td><td class="help_window_how">{{ w }}</td></tr>
        {% endfor %}
        {% endfor %}
	</table></div>
        <br>        <br>
        The FEMhub Web Notebook was developed by the hp-FEM group at the Department of Mathematics, University of Nevada, Reno, and it is based on Sage Notebook which was primarily written by William Stein with substantial contributions from Tom Boothby, Timothy Clemans, Alex Clemesha, Mike Hansen, Bobby Moretti, Yi Qiang, and Dorian Raymer.
        </center>
{% endblock %}
