{% extends "html/base_authenticated.html" %}

{% block title %}Sage Documentation{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/javascript/sage/ws_list.js"></script>
{% endblock%}

{% block page_id %}docs-main-page{% endblock %}

{% block main %}

<div class="control-bar">
    <ul class="controls">
        <!-- <li><a title="To quickly try out the FEMhub online lab start here" href="/doc/live/tutorial/index.html">Tutorial</a></li> -->
        <li><a title="To access the FEMhub community with any questions or ideas, use the FEMhub mailing list " href="http://groups.google.com/group/femhub">FEMhub Mailing List</a></li>
        <li><a title="FEMhub Official Website" href="http://www.femhub.org/">FEMhub Official Website</a></li>
        <li><a title="FEMhub Web Notebook?" href="http://nb.femhub.org/">FEMhub Web Notebook</a></li>
    </ul>
    <ul class="controls">
        <!-- <li><a title="Static version..." href="/doc/static/">Fast Static Versions of the Documentation</a></li> -->
    </ul>
</div>

<div class="help_window">
  <center>
    <h2>How to use the FEMhub Online Numerical Methods Laboratory</h2>
    
    <p>A <em>worksheet</em> is an ordered list of Sage calculations with output.</p>
    <p>A <em>session</em> is a worksheet and a set of variables in some state.</p>
    <p>The <em>FEMhub online lab</em> is a collection of worksheets, saved objects, and user information.</p>
    
    <table class="help_window">
        
        {% for x, y in notebook_help %}
        <tr><td class="help_window_sub", colspan="2">{{ x }}</td></tr>
        {% for z, w in y %}
        <tr><td class="help_window_cmd">{{ z }}</td><td class="help_window_how">{{ w }}</td></tr>
        {% endfor %}
        {% endfor %}
    </table>
  </center>
</div>
<p class="acknowledgments">The FEMhub Web Notebook was developed by the hp-FEM group at the Department of Mathematics, University of Nevada, Reno, and it is based on Sage Notebook which was primarily written by William Stein with substantial contributions from Tom Boothby, Timothy Clemans, Alex Clemesha, Mike Hansen, Bobby Moretti, Yi Qiang, and Dorian Raymer.</p>
{% endblock %}
