{% extends "html/base.html" %}

{% block title %}Sign in{% endblock %}

{% block body %}
        <span class="banner">
        <a class="banner" href="http://nb.femhub.org/"><img align="top" src="/images/femhub.png" alt="FEMhub"> The FEMhub Notebook</a>: Welcome!
        </span>
        
<br><br>
<table>
<tr><td bgcolor="#f8f4f4" width=50%>
{% if welcome %}
<h2>Congratulations {{ welcome }}! You can now sign into the FEMhub Notebook.</h2><br>
{% endif %}

<span class="addtext">

<b>The FEMhub Notebook</b><br>
With the FEMhub Notebook
anyone can create, collaborate on, and publish interactive
worksheets. In a worksheet, one can write code using FEMhub, Python,
and other software included in FEMhub.
<br><br>

<b>The FEMhub Project</b><br>
<a href="http://femhub.org/">FEMhub</a> is an open-source distribution of free
finite element codes, along with a web notebook and a unified Python interface.
The distribution is developed by an open source community around the hp-FEM
group at the University of Nevada, Reno and available under the GPL license
(Version 2, 1991 or later).
<br><br>

The FEMhub web notebook is based on the Sage notebook.   
<br><br>

<hr>
<b>How to get started with the FEMhub web notebook <a href="http://nb.femhub.org/">http://nb.femhub.org/</a></b><br>
The best way is to try out simple worksheets that explain
elementary methods of numerical analysis.
<br><br>
<b>Step 1: </b><a href="http://nb.femhub.org/register">Sign up for a new FEMhub Notebook account</a>
        This is automatic and fast. Report any problems to
        femhub@googlegroups.com.
<br><br>
<b>Step 2:</b> Log into the web notebook. Click on "published
        worksheets". Then click on any link starting with
        "Num Methods", the simplest one being "Num
        Methods: Taylor Polynomial".
<br><br>
<b>Step 3:</b> Click on "Edit a Copy" in the upper left corner and
        wait for the browser response.  Scroll down below
        the first input window and click "Evaluate". This will
        load the program. Then there are two input windows
        with two different ways to plot a Taylor polynomial
        that are self-explanatory.
<br><br>
<b>Step 4:</b> There are multiple other worksheets whose title begins
        with "Num Methods:". Try them out and give us your
        feedback!
<br><br>
<b>Step 5:</b> You can try out worksheets starting with "Hermes2D:"
        that allow you to solve finite element problems via
        the internet. Feel free to adjust the existing worksheets
        to fit your own needs. We are working on expanding the
        possibilities.
  
</span>
</td>
<td bgcolor="#efefff" align=center>
<span class="addtext">Sign into the FEMhub Notebook v{{ sage_version }}<br><br>
<form method="POST" action="/login">
<table>
<tr><td align=right>Username:</td><td><input type="text" name="email" value="{{ default_user }}" size="15"></td></tr>
{% if username_error %}
<tr><td align=right><span style="color:red">Error:</span></td><td>Username is not in the system</td></tr>
{% endif %}
<tr><td align=right>Password:</td><td><input type="password" name="password" size="15"></td></tr>
{% if password_error %}
<tr><td align=right><span style="color:red">Error:</span></td><td>Wrong password</td></tr>
{% endif %}
<tr><td align=right><input type="checkbox" name="remember" /></td><td>Remember me</td></tr>
<tr><td>&nbsp</td><td><input type="submit" value="Sign In"></td></tr>
</table>
<br><br><br>
{% if accounts %}
<a href='/register'><b>Sign up for a new FEMhub Notebook account</b></a>
{% endif %}
<br><br><br>
<a href='/pub'><b>Browse published FEMhub worksheets<br>(no login required)</b></a><br /><br/><br/>
{% if recovery %}
<a href='/forgotpass'><b>Forgot password</b></a>
{% endif %}
</span>
</td>
</tr>
</table>
{% endblock %}
